<form class="user-form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group col-md-6">
        <input type="hidden" placeholder="ID" class="form-control" name="ID" #ID="ngModel" [(ngModel)]="userService.selectedUser.ID">
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>First Name</label>
            <input placeholder="First Name" class="form-control" name="FIRST_NAME" #FIRST_NAME="ngModel" [(ngModel)]="userService.selectedUser.FIRST_NAME" required>
            <div class="validation-error" *ngIf="FIRST_NAME.invalid && FIRST_NAME.touched">This field is Required.</div>
        </div>
        <div class="form-group col-md-4">
            <label>Last Name</label>
            <input placeholder="Last Name" class="form-control" name="LastName" #LastName="ngModel" [(ngModel)]="userService.selectedUser.LAST_NAME" required>
            <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">This field is Required.</div>
        </div>
        <div class="form-group col-md-4">
            <label>Full Name</label>
            <input placeholder="Full Name" class="form-control" name="FullName" #FullName="ngModel" [(ngModel)]="userService.selectedUser.FULL_NAME" required>
            <div class="validation-error" *ngIf="FullName.invalid && FullName.touched">This field is Required.</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Position</label>
            <input placeholder="Position" class="form-control" name="Position" #Position="ngModel" [(ngModel)]="userService.selectedUser.Position">
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>USERNAME</label>
            <input placeholder="USERNAME" class="form-control" name="USERNAME" #USERNAME="ngModel" [(ngModel)]="userService.selectedUser.USERNAME">
        </div>
        <div class="form-group col-md-6">
            <label>PASSWORD</label>
            <input placeholder="PASSWORD" class="form-control" name="PASSWORD" #ID="ngModel" [(ngModel)]="userService.selectedUser.PASSWORD">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <button [disabled]="!userForm.valid" type="submit" class="btn btn-lg btn-block btn-info"><i class="fa fa-floppy-o"></i> Submit</button>
        </div>
        <div class="form-group col-md-4">
            <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(userForm)"><i class="fa fa-repeat"></i> Reset</button>
        </div>
    </div>
</form>